<ion-content [fullscreen]="true" class="contenido-principal">
  <div class="centrar">
    <div class="enmarcar-login">
      <ion-card class="ion-text-center">
        <ion-card-content>
          <!-- Header del card con el logo -->
                      
            <ion-card-header>
              <ion-toolbar>
                <div class="logo-container">
                  <img alt="Imagen de validación" src="../../../assets/img/logoDuoc.png" class="imagen-validacion" />
                </div>
                <h1>Sistema de Asistencia DUOC</h1>
              </ion-toolbar>
            </ion-card-header>
          <!-- Imagen del hombre -->
          <img alt="Imagen de validación" src="../../../assets/img/dato2.PNG" class="imagen-validacion" />

          <!-- Mensaje de validación de contraseña -->
          <div class="mensaje-validacion">
            <p>{{"Incorrecto.Label.TextUno"|translate}}</p>
            <p>{{"Incorrecto.Label.TextDos"|translate}}</p>
          </div>
        </ion-card-content>
      </ion-card>


      <ion-router-link routerLink="/ingreso">
        <ion-button (click)="redirigir()" expand="full" class="custom-button">
          {{"Incorrecto.Link.Inicio"|translate}}
        </ion-button>
      </ion-router-link>
    
    </div>
  </div>


